<a>
  <% logo = image_tag("logo.png", :alt => "#{app_name}", :height => "100%") %>
  <%= link_to logo, root_path %>
</a>
<nav>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li><%= link_to "Help", help_path %></li>
    <li><%= link_to "Sign out", destroy_user_session_path %></li>
  </ul>
</nav>
