<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render "layouts/stylesheets" %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div id="maincontent">

            <%= yield %>

    </div>
    <div id="framecontentTop">
        <%= render "layouts/header" %>
    </div>
    <div id="framecontentLeft">
        <%= render "layouts/menu/layout" %>
    </div>
    <div id="framecontentRight">
        this is right_section
    </div>


  </body>
</html>
