<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render "layouts/stylesheets" %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div id="maincontent">

            <%= yield %>

    </div>
    <% if user_signed_in? %>
      <div id="framecontentTop">
          <%= render "layouts/header" %>
      </div>
      <div id="framecontentLeft">
          <%= render "layouts/menu/layout" %>
      </div>
      <div id="framecontentRight">

          <%= params %>
      </div>
    <% end %>


  </body>
</html>
