<table>
<tr>
<td>Reference</td>
<td>Name</td>
<td>Address</td>
<td>Parent</td>
<td>Credit Limit</td>
<td>Payment Terms</td>
<td>In Advance?</td>
<td>Active?</td>

</tr>
<% object.each do |a| %>
<tr>
<td><%= a.reference %></td>
<td><%= a.name %></td>
<td><%= a.address %></td>
<td><% if a.account_id.nil? %>N/A
    <% else %> <%= link_to Account.find(a.account_id).name, account_path(a.account_id) %><% end %></td>
<td><%= number_to_currency(a.credit_limit, :unit=> "£") %></td>
<td><%= a.payment_delay %> days</td>
<td><%= a.in_advance? ? "Yes" : "No" %></td>
<td><%= a.active? ? "Yes" : "No" %></td>
</tr>

<% end %>
</table>
