<table>
<% object.each do |a| %>
  <tr>
    <td>
      <p>
        Account:<br/>
        <%= a.reference %><br/>
        <%= link_to "#{a.name}", account_path(a) %>
      </p>
    </td>
    <td>
      <%= render 'address', :object => a %>
    </td>
    <td>
      <%= render 'contact', :object => a %>
    </td>
    <td>
    <% if a.parent.nil? %>
      <%= render 'credit_control', :object => a %>
    <% else %>
      <%= render 'credit_control', :object => a.parent %>
    <% end %>
    </td>
  </tr>
<% end %>
</table>
