<%= form_for(@account) do |f| %>
<div class="name">
<h1><%= @account.name %><%= f.text_field :name %></h1>
<p>Account reference: <%= @account.reference %></p>
</div>
<%= render 'address', :object => @account %>
<%= render 'contact', :object => @account %>
<% if @account.parent.nil? %>
  <%= render 'credit_control', :object => @account %>
<% end %>
<%= render 'list', :object => @children %>
<%= render 'structure', :object => @account %>
<%= link_to "edit", edit_account_path(@account) %>
<%= f.submit %>
</div>
<% end %>
