<div class="name">
<h1><%= @account.name %></h1>
<p>Account reference: <%= @account.reference %></p>
</div>
<%= render 'address', :object => @account %>
<%= render 'contact', :object => @account %>
<% if @account.parent.nil? %>
  <%= render 'credit_control', :object => @account %>
<% end %>
<%= render 'list', :object => @children %>
<%= render 'structure', :object => @account %>
</div>
